html {
  overflow-x: hidden;
}
.video-container {
  width: 100%;
  overflow: hidden;
  height: 600px;
  position: absolute;
  margin-top: -190px;
}

.video-iframe {
  width: 100%;
  height: 1120px;
}
#text {
  position: absolute;
  color: #ffffff;
  left: 30%;
  background-color: #2b405b;
  top: 70%;
  padding: 43px;
  width: 630px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  opacity: 0.9;
}
.make_my_childs_white * {
  color: #fff !important;
}
#text h5 {
  font-size: 35px;
  color: #fff;
}
.video-iframe {
  pointer-events: none;
}
.video-main {
  overflow: hidden;
  position: relative;
  height: 540px;
}
@media only screen and (max-width: 600px) {
  .video-main {
    height: 200px;
  }
  .video-container {
    height: 260px;
  }
  .video-iframe {
    height: 321px;
  }
  #text {
    display: none;
  }
}
.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.carousel {
  width: 100%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
}
.text-white {
  color: #fff;
}
